
.head{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    background:linear-gradient( white,white);
    width: 100%;
}
.head .blackscreen{
        width: 110%;
    
    
    
}
.head .blackscreen img{
    margin-top: 10%;
    height: auto;
    width: 130%;
    
}
.info{
    margin-top: 5.5%;
    font-size: 60px;
    
}

.info .heading{
    color: rgb(8, 10, 12);
    margin-top: 1%;
    text-decoration: dotted;
    font-style: italic;
    margin-left: 17%;
    font-weight: 600;
    text-decoration: #2eb9ae;
    letter-spacing: 2px;
    word-spacing: 1px;
}
.progressheading {
    margin-top: 5%;
    margin-left: 25%;
}
.progressheading p{
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    
}
.circularprogress{
    width: 5%;
}
.progress{
    font-family: fantasy;
    letter-spacing: 3%;
    font-size: 16px;
    word-spacing: 1%;
}
.meters {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1px;
    box-sizing: border-box;

}

.meters .card {
    width: 200px;
    min-height: 240px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(154, 17, 17);
    align-items: center;
    padding: 14px;

}

.meters .card:nth-child(1) {

    background: linear-gradient(90deg, #ffe38d 0%, #ffb784 100%);
}

.meters .card:nth-child(2) {

    background: linear-gradient(90deg, #c1e9a1 0%, #4ae987 100%);
}

.meters .card:nth-child(3) {

    background: linear-gradient(90deg, #80fff4 0%, #7ed6ff 100%);
}

.meters .card:nth-child(4) {

    background: linear-gradient(90deg, #ff7efb 0%, #f7dd6f 100%);
}

.meters .card:nth-child(5) {

    background: linear-gradient(90deg, #ff8080 0%, #ffb47e 100%);
}

.meters .card:nth-child(6) {

    background: linear-gradient(90deg, #ffe38d 0%, #ffb784 100%);
}

.meters .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.meters .card-header-box {
    display: flex;
    flex-direction: column;
    min-width: 49%;
    background-color: rgb(234, 229, 229);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px ☐ rgba(0, 0, 0, 0.2);
    border-radius: 10px;
} 

.feedbackform{
    
    margin-left: 15%;
    
}

.feedbackforzero{
    margin-left: 5%;
    
    
    width: 50%;
    height: 50%;
}
.feedbackforzero .zero{
    margin-top: 2%;
    font-size: 20px;
}
.button .startbutton{
    display: inline-block;
    padding: 10px 14px;
    font-size: 14px;
    background-color:#4395d9; /* Blue color */
    color: #faf5f5; /* White text color */
    border: none;
    border-radius: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 5%;
    

}
.button .startbutton:hover{
    background-color: #7ed6ff;
}


.feedbackforlow{
    margin-left: 10%;

    
    width: 50%;
    height: 50%;
}
.feedbackforzero .zero{
    margin-top: 2%;
    font-size: 20px;
    margin-bottom: 5%;
    
}
.feedbackforlow .low{
    padding: 5%;
    
}
.feedbackforaverage{
    margin-left: 10%;
    margin-top: 0%;
    width: 50%;
    height: 50%;
}

.avgfeed{
    margin-top: 5%;
    padding: 3%;
}
/* .meters {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    box-sizing: border-box;

}

.meters .card {
    width: 200px;
    min-height: 230px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(154, 17, 17);
    align-items: center;
    padding: 10px;

}

.meters .card:nth-child(1) {

    background: linear-gradient(90deg, #ffe38d 0%, #ffb784 100%);
}

.meters .card:nth-child(2) {

    background: linear-gradient(90deg, #c1e9a1 0%, #4ae987 100%);
}

.meters .card:nth-child(3) {

    background: linear-gradient(90deg, #80fff4 0%, #7ed6ff 100%);
}

.meters .card:nth-child(4) {

    background: linear-gradient(90deg, #ff7efb 0%, #f7dd6f 100%);
}

.meters .card:nth-child(5) {

    background: linear-gradient(90deg, #ff8080 0%, #ffb47e 100%);
}

.meters .card:nth-child(6) {

    background: linear-gradient(90deg, #ffe38d 0%, #ffb784 100%);
}

.meters .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.meters .card-header-box {
    display: flex;
    flex-direction: column;
    min-width: 49%;
    background-color: rgb(234, 229, 229);
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px ☐ rgba(0, 0, 0, 0.2);
    border-radius: 10px;
} */